body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 10px;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

.img-container {
    border-top: solid;
    border-bottom: solid;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

figure {
  justify-content: space-evenly;
  margin: 20px 0;
  border: 1px #cccccc solid;
  padding: 4px;
}
figure img {
    width: 600px;
    height: 400px;
    object-fit: cover;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

h2 {
    padding: 50px;

}


form {
    margin: 100px 50px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"], form input[type="password"] {
    padding: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

table {
    
    border-collapse: collapse;
    width: 500px;
    margin: 100px 50px;
}

table th, table td {
    padding: 5px;
    border: 1px solid #ccc;
}

table th {
    background-color: #eee;
}

section {
    display: flex;
}

aside {
    float: right;
}

video {
    padding: 50px;

}

audio {
    padding: 50px;
}
